* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  scroll-behavior: smooth;
}

:root {
  --color-white: #ffffff;
  --color-black: #070707;
  --color-yellow: #fcb02d;


  --button-bg-default: #ffffff;
  --button-bg-done: #452af4;
  --button-bg-hover: #fcb02d;
  --button-bg-disabled: #452af4;
  --button-purple-bg-hover: #3315f8;

  --button-text-default: #070707;
  --button-text-done: #ffffff;
  --button-text-hover: #ffffff;
  --button-text-disabled: #ffffff28;

  --input-outline-valid: #7c69f7;
  --input-outline-invalid: #f7696b;

  --container-fixed-bottom-bg: #452af4;
}

body {
  background-image: url("../public/images/main_bcg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 23%;
  background-color: var(--color-black);
  position: relative;
}

.montserrat {
  font-family: var(--font-montserrat);
}

.manrope {
  font-family: var(--font-manrope);
}

.manrope-16 {
  font-family: var(--font-manrope);
  font-size: 16px;
}

.button {
  width: 214px;
  height: 58px;

  flex-shrink: 0;

  text-transform: none;

  border-radius: 25px;

  font-size: 16px;
}

.button-white {
  background-color: var(--button-bg-default);
  color: var(--button-text-default);
}

.button-white:hover {
  background-color: var(--button-bg-hover);
}

.button-purple {
  background-color: var(--button-bg-done);
  color: var(--button-text-done);
}

.button-purple:disabled {
  background-color: var(--button-bg-disabled);
  color: var(--button-text-disabled);
}

.invisibleInput {
  width: 1px;
  height: 1px;
  visibility:hidden;
  cursor: default;
}

@media (min-width: 460px) and (max-width: 767px) {
  .button {
    width: 128px;
    height: 48px;
    font-size: 12px;
  }
}

@media (max-width: 459px) {
  .button {
    width: 128px;
    height: 48px;
    font-size: 12px;
  }
}

@media (min-width: 1024px) {

}

@media (min-width: 768px) and (max-width: 1023px) {

}

@media (min-width: 460px) and (max-width: 767px) {

}

@media (max-width: 459px) {

}


