* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  scroll-behavior: smooth;
}

:root {
  --color-white: #ffffff;
  --color-black: #070707;


  --button-bg-default: #ffffff;
  --button-bg-done: #452af4;
  --button-bg-hover: #fcb02d;
  --button-bg-disabled: #452af4;

  --button-text-default: #070707;
  --button-text-done: #ffffff;
  --button-text-hover: #ffffff;
  --button-text-disabled: #ffffff28;

  --input-outline-valid: #7c69f7;
  --input-outline-invalid: #f7696b;

  --container-fixed-bottom-bg: #452af4;
}

body {
  background-color: var(--color-black);
  position: relative;
}

.montserrat {
  font-family: var(--font-montserrat);
}

.manrope {
  font-family: var(--font-manrope);
}

.manrope-16 {
  font-family: var(--font-manrope);
  font-size: 16px;
}

.button {
  width: 214px;
  height: 58px;

  text-transform: none;

  border-radius: 25px;

  font-size: 16px;
}

.button-white {
  background-color: var(--button-bg-default);
  color: var(--button-text-default);
}

.button-white:hover {
  background-color: var(--button-bg-hover);
}



@media (min-width: 1024px) {

}

@media (min-width: 768px) and (max-width: 1023px) {

}

@media (max-width: 767px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 768px) and (max-width: 1023px) {

}

@media (max-width: 767px) {

}



