.header {
  position: sticky;

  z-index: 3;

  top: 6%;
  left: 0;
}

.header__container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1400px;
}
