.aboutConference__container {
  color: var(--color-white);
  min-height: 360px;

  margin-top: 64px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-image: url("../../../public/images/uspacy_bcg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.aboutConference__text {
  display: flex;
  justify-content: center;

  gap: 54px;
}

.aboutConference__text--heading {
  font-size: 34px;
  max-width: 384px;

  text-wrap: nowrap;
}

.aboutConference__text--description {
  font-size: 24px;
  max-width: 692px;

  line-height: 1.5;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .aboutConference__text--heading {
    max-width: unset;
    font-size: 24px;
  }

  .aboutConference__text--description {
    font-size: 18px;
  }
}

@media (max-width: 767px) {

  .aboutConference__text {
    margin: 0;
    padding: 0;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
  }

  .aboutConference__text--heading {
    max-width: unset;
    font-size: 24px;
  }

  .aboutConference__text--description {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .aboutConference__container {
    margin-top: 36px;
  }
}

@media (min-width: 460px) and (max-width: 767px) {
  .aboutConference__container {
    margin-top: 48px;
  }
}

@media (max-width: 459px) {
  .aboutConference__container {
    margin-top: 36px;
  }

  .aboutConference__text {
    gap: 16px;
  }
}

@media (min-height: 800px) {
  .aboutConference__container {
    margin-top: 36px;
  }
  .aboutConference__text--heading {
    max-width: unset;
    font-size: 24px;
  }
}

@media (min-height: 600px) and (max-height: 799px) {
  .aboutConference__container {
    margin-top: 36px;
    min-height: 260px;
  }
  .aboutConference__text--heading {
    max-width: unset;
    font-size: 20px;
  }

  .aboutConference__text--description {
    font-size: 16px;
  }
}